#**Tugas Pemrograman 3 Pengantar AI**

**Kelompok : 6**

**Kelas : IF-43-09**

**Nama Anggota Kelompok :**
1. Claudia Mei Serin Sitio / 1301190424
2. Priyan Fadhil Supriyadi / 1301190442
3. Vena Erla Candrika / 1301194040

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [ ]:
data = pd.read_excel('https://github.com/priyanfadhil/AI_EndGame/blob/main/mobil.xls?raw=true')
data

              Nama Mobil  Ukuran  ...  Kecepatan  Harga (Ratus Juta)
0            Toyota Agya       4  ...          6                1.00
1          Daihatsu Alya       4  ...          6                1.10
2          Toyota Avanza       6  ...          6                2.00
3         Daihatsu Xenia       6  ...          6                1.75
4                Xpander       7  ...          7                2.25
5                 Livina       7  ...          7                2.10
6                Karimun       3  ...          5                1.20
7          Toyota Innova       8  ...          7                4.00
8                Alphard       9  ...          8               10.00
9            Toyota Vios       5  ...          8                2.50
10            Honda City       5  ...          8                2.70
11          Toyota Hiace      10  ...          6                5.00
12       Toyota Fortuner       9  ...          8                5.00
13           Toyota Foxy       9  ...          7                5.50
14  Toyota Corolla Altis       5  ...          9                6.00
15         Suzuki Ertiga       7  ...          7                2.30
16          Suzuki Carry       7  ...          5                0.80

[17 rows x 6 columns]

## **Pre-processing Data**
Menghapus kolom yang tidak dibutuhkan untuk memproses *data*

In [ ]:
data_filtered = data.drop('Nama Mobil', axis=1)
data_filtered.head()

   Ukuran  Kenyamanan  Irit  Kecepatan  Harga (Ratus Juta)
0       4           4     9          6                1.00
1       4           3     9          6                1.10
2       6           5     6          6                2.00
3       6           4     6          6                1.75
4       7           7     6          7                2.25

Features Selection

In [ ]:
features = data_filtered.copy().iloc[:, :8].values
features

array([[ 4.  ,  4.  ,  9.  ,  6.  ,  1.  ],
       [ 4.  ,  3.  ,  9.  ,  6.  ,  1.1 ],
       [ 6.  ,  5.  ,  6.  ,  6.  ,  2.  ],
       [ 6.  ,  4.  ,  6.  ,  6.  ,  1.75],
       [ 7.  ,  7.  ,  6.  ,  7.  ,  2.25],
       [ 7.  ,  7.  ,  6.  ,  7.  ,  2.1 ],
       [ 3.  ,  4.  , 10.  ,  5.  ,  1.2 ],
       [ 8.  ,  8.  ,  5.  ,  7.  ,  4.  ],
       [ 9.  , 10.  ,  4.  ,  8.  , 10.  ],
       [ 5.  ,  7.  ,  9.  ,  8.  ,  2.5 ],
       [ 5.  ,  8.  ,  7.  ,  8.  ,  2.7 ],
       [10.  ,  5.  ,  8.  ,  6.  ,  5.  ],
       [ 9.  ,  8.  ,  5.  ,  8.  ,  5.  ],
       [ 9.  ,  9.  ,  5.  ,  7.  ,  5.5 ],
       [ 5.  ,  9.  ,  7.  ,  9.  ,  6.  ],
       [ 7.  ,  7.  ,  7.  ,  7.  ,  2.3 ],
       [ 7.  ,  3.  ,  9.  ,  5.  ,  0.8 ]])

Data Normalization (Min Max Normalization)

In [ ]:
def min_max_scaler():
    for row in range(len(features)):
        for col in range(len(features[0])):
            features[row][col] = (features[row][col] - (data_filtered[data_filtered.columns[col]]).min())/((data_filtered[data_filtered.columns[col]]).max() - (data_filtered[data_filtered.columns[col]]).min())
            
    return features

In [ ]:
data_norm = min_max_scaler()
data_norm = pd.DataFrame(data_norm)
data_norm.columns=[data_filtered.columns[:5]]
data_norm

      Ukuran Kenyamanan      Irit Kecepatan Harga (Ratus Juta)
0   0.142857   0.142857  0.833333      0.25           0.021739
1   0.142857   0.000000  0.833333      0.25           0.032609
2   0.428571   0.285714  0.333333      0.25           0.130435
3   0.428571   0.142857  0.333333      0.25           0.103261
4   0.571429   0.571429  0.333333      0.50           0.157609
5   0.571429   0.571429  0.333333      0.50           0.141304
6   0.000000   0.142857  1.000000      0.00           0.043478
7   0.714286   0.714286  0.166667      0.50           0.347826
8   0.857143   1.000000  0.000000      0.75           1.000000
9   0.285714   0.571429  0.833333      0.75           0.184783
10  0.285714   0.714286  0.500000      0.75           0.206522
11  1.000000   0.285714  0.666667      0.25           0.456522
12  0.857143   0.714286  0.166667      0.75           0.456522
13  0.857143   0.857143  0.166667      0.50           0.510870
14  0.285714   0.857143  0.500000      1.00           0.565217
15  0.571429   0.571429  0.500000      0.50           0.163043
16  0.571429   0.000000  0.833333      0.00           0.000000

In [ ]:
data_norm.iloc[0].tolist()

[0.14285714285714285,
 0.14285714285714285,
 0.8333333333333334,
 0.25,
 0.021739130434782605]

In [ ]:
def input_norm():
    for i in range(len(inputan_user)):
        inputan_user[i] = (inputan_user[i] - (data_filtered[data_filtered.columns[i]]).min())/((data_filtered[data_filtered.columns[i]]).max() - (data_filtered[data_filtered.columns[i]]).min())

    return inputan_user

# **Proses Data**

In [ ]:
def euclidean_dist(data1, data2):
    x1 = float(data1[0]) - float(data2[0])
    x2 = float(data1[1]) - float(data2[1])
    x3 = float(data1[2]) - float(data2[2])
    x4 = float(data1[3]) - float(data2[3])
    x5 = float(data1[4]) - float(data2[4])
    return math.sqrt(x1**2 + x2**2 + x3**2 + x4**2 + x5**2)

def manhattan_dist(data1, data2):
    x1 = abs(float(data1[0]) - float(data2[0]))
    x2 = abs(float(data1[1]) - float(data2[1]))
    x3 = abs(float(data1[2]) - float(data2[2]))
    x4 = abs(float(data1[3]) - float(data2[3]))
    x5 = abs(float(data1[4]) - float(data2[4]))
    return (x1 + x2 + x3 + x4 + x5)

def minkowski_dist(data1, data2, p=2):
    x1 = abs(float(data1[0]) - float(data2[0]))
    x2 = abs(float(data1[1]) - float(data2[1]))
    x3 = abs(float(data1[2]) - float(data2[2]))
    x4 = abs(float(data1[3]) - float(data2[3]))
    x5 = abs(float(data1[4]) - float(data2[4]))
    return (x1**p + x2**p + x3**p + x4**p + x5**p) ** p

def supremum_dist(data1, data2):
    x1 = abs(float(data1[0]) - float(data2[0]))
    x2 = abs(float(data1[1]) - float(data2[1]))
    x3 = abs(float(data1[2]) - float(data2[2]))
    x4 = abs(float(data1[3]) - float(data2[3]))
    x5 = abs(float(data1[4]) - float(data2[4]))
    return max(x1, x2, x3, x4, x5)

In [ ]:
def find_neighbors_distance(data1, data2, k):
    euclidean = [] 
    manhattan = []
    minkowski = []
    supremum = []
    
    for i in range(len(data1)):
        euclidean.append([euclidean_dist(data1.iloc[i].tolist(), data2), data['Nama Mobil'][i], 
                          data['Harga (Ratus Juta)'][i]])
        manhattan.append([manhattan_dist(data1.iloc[i].tolist(), data2), data['Nama Mobil'][i], 
                          data['Harga (Ratus Juta)'][i]])
        minkowski.append([minkowski_dist(data1.iloc[i].tolist(), data2), data['Nama Mobil'][i], 
                          data['Harga (Ratus Juta)'][i]])
        supremum.append([supremum_dist(data1.iloc[i].tolist(), data2), data['Nama Mobil'][i], 
                         data['Harga (Ratus Juta)'][i]])

    euclidean = sorted(euclidean)[:k]
    manhattan = sorted(manhattan)[:k]
    minkowski = sorted(minkowski)[:k]
    supremum = sorted(supremum)[:k]

    return euclidean, manhattan, minkowski, supremum

In [ ]:
def get_knn(data1, data2, k):
    euclidean, manhattan, minkowski, supremum = find_neighbors_distance(data1, data2, k)
    distances = [['Euclidean', euclidean], 
                 ['Manhattan', manhattan], 
                 ['Minkowski', minkowski], 
                 ['Supremum', supremum]]

    return distances

## **Main Program**
memasukkan data baru

In [ ]:
print('Inputan user yang menginginkan mobil dengan,')
ukuran = int(input("Ukuran     :  "))
kenyamanan = int(input("Kenyamanan :  "))
irit = int(input("Irit       :  "))
kecepatan = int(input("Kecepatan  :  "))
harga = int(input("Harga      :  "))

inputan_user = [ukuran, kenyamanan, irit, kecepatan, harga]
user = input_norm()

distance = get_knn(data_norm, user, k = 3)

print('maka peringkat masing-masing metode yang dijalankan untuk mobil yang cocok yaitu,')
print()
for method in distance:
      print(f'\n---------------------------------- Metode: {method[0]} ----------------------------------')
      print()
      nama_mobil = []
      for i, total_distance in enumerate(method[1]):
          print(f'peringkat ke - {i+1} : Mobil {total_distance[1]} dengan harga {int((total_distance[2])*100)} juta rupiah, Total Distance {round(total_distance[0], 3)}')
          print()
          nama_mobil.append(total_distance[1])
      print()
      nama_mobil = pd.DataFrame(nama_mobil)
      nama_mobil.to_excel(f'{method[0]}.xls', index=False, header=False)

Inputan user yang menginginkan mobil dengan,
Ukuran     :  4
Kenyamanan :  4
Irit       :  9
Kecepatan  :  6
Harga      :  1
maka peringkat masing-masing metode yang dijalankan untuk mobil yang cocok yaitu,


---------------------------------- Metode: Euclidean ----------------------------------

peringkat ke - 1 : Mobil Toyota Agya dengan harga 100 juta rupiah, Total Distance 0.0

peringkat ke - 2 : Mobil Daihatsu Alya dengan harga 110 juta rupiah, Total Distance 0.143

peringkat ke - 3 : Mobil Karimun dengan harga 120 juta rupiah, Total Distance 0.333



---------------------------------- Metode: Manhattan ----------------------------------

peringkat ke - 1 : Mobil Toyota Agya dengan harga 100 juta rupiah, Total Distance 0.0

peringkat ke - 2 : Mobil Daihatsu Alya dengan harga 110 juta rupiah, Total Distance 0.154

peringkat ke - 3 : Mobil Karimun dengan harga 120 juta rupiah, Total Distance 0.581



---------------------------------- Metode: Minkowski ----------------------------------

peringkat ke - 1 : Mobil Toyota Agya dengan harga 100 juta rupiah, Total Distance 0.0

peringkat ke - 2 : Mobil Daihatsu Alya dengan harga 110 juta rupiah, Total Distance 0.0

peringkat ke - 3 : Mobil Karimun dengan harga 120 juta rupiah, Total Distance 0.012



---------------------------------- Metode: Supremum ----------------------------------

peringkat ke - 1 : Mobil Toyota Agya dengan harga 100 juta rupiah, Total Distance 0.0

peringkat ke - 2 : Mobil Daihatsu Alya dengan harga 110 juta rupiah, Total Distance 0.143

peringkat ke - 3 : Mobil Karimun dengan harga 120 juta rupiah, Total Distance 0.25